body {
  background: #f8fafc;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  background: linear-gradient(90deg, #6f42c1, #0d6efd);
  position: sticky;
  top: 0;
  z-index: 1030;
}
.navbar .nav-link {
  color: #ffffffff !important;
  font-weight: 500;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  background: rgba(0, 255, 8, 0.2);
  border-radius: 8px;
}

.sticky-filter {
  position: sticky;
  top: 56px;
  z-index: 1020;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.category-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.category-nav button {
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
.category-nav button.active {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}
.search-box {
  max-width: 300px;
  margin: 10px auto;
}

.product-card {
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.sticky-filter {
  position: sticky;
  top: 56px;
  z-index: 999;
  background: #ffffff;
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
}
.card-title {
  font-weight: 600;
  font-size: 1rem;
}
.card-price {
  color: #198754;
  font-weight: bold;
  margin-top: 5px;
}
.card-desc {
  font-size: 0.85rem;
  color: #555;
  margin-top: 5px;
}
.card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  margin: 10px auto 8px;
  display: block;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#clock {
  text-align: center;
  font-weight: 600;
  color: #555;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .product-card {
    padding: 10px;
  }
  .category-nav {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 5px;
  }
  .category-nav::-webkit-scrollbar {
    display: none;
  }
  .card-img {
    width: 70px;
    height: 70px;
  }
}
