body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}
.card {
  border: none;
  border-radius: 12px;
}
.card-header {
  background: linear-gradient(90deg, #6f42c1, #0d6efd);
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 14px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 1.1rem;
}
.card-body {
  padding: 20px;
}
.form-label {
  font-weight: 600;
  font-size: 0.95rem;
}
.form-control {
  padding: 6px 10px;
  font-size: 0.9rem;
}
.btn-primary {
  background-color: #0d6efd;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.95rem;
}
.btn-primary:hover {
  background-color: #0b5ed7;
}
.btn-outline-secondary {
  border-radius: 6px;
  font-size: 0.95rem;
}
.container {
  max-width: 400px; /* make form smaller */
}
/* Hide scrollbar but allow scroll */
html,
body {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
